Repository McGuireTechnology/TruLedgr, changes with the owners that CODEOWNERS names for each.
All owners: @btruledgr-api, @truledgr-dashboard, @truledgr-apple, @truledgr-android, @truledgr-landing, @truledgr-docs

API: FastAPI initial app and tests
  api/.gitignore
  api/__init__.py
  api/main.py
  api/tests/test_main.py
Owners: @btruledgr-api

Dashboard: Vite + Vue dashboard app
  dashboard/.eslintrc.json
  dashboard/.gitignore
  dashboard/index.html
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/App.vue
  dashboard/src/main.js
  dashboard/test/App.test.js
  dashboard/vite.config.js
  dashboard/vitest.config.js
Owners: @truledgr-dashboard

Landing: marketing site (Vite + Vue)
  landing/.eslintrc.json
  landing/.gitignore
  landing/index.html
  landing/package-lock.json
  landing/package.json
  landing/src/App.vue
  landing/src/main.js
  landing/test/App.test.js
  landing/vite.config.js
  landing/vitest.config.js
Owners: @truledgr-landing

Mobile: Apple Multiplatform and Android skeletons
  android/.gitignore
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/truledgr/android/MainActivity.kt
  android/src/main/java/com/truledgr/android/MainViewModel.kt
  apple/.gitignore
  apple/Package.swift
  apple/Sources/TruLedgrApple/main.swift
Owners: @truledgr-android, @truledgr-apple

Docs: MkDocs site and architecture pages
  docs/.gitignore
  docs/architecture/api.md
  docs/architecture/frontend.md
  docs/architecture/mobile.md
  docs/architecture/overview.md
  docs/getting-started/quick-start.md
  docs/getting-started/running-apps.md
  docs/index.md
Owners: @truledgr-docs

CI: GitHub Actions, pre-commit, and workflow scaffolding
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/workflows/deploy.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Owners: none

Lint & tests: add linters, pre-commit and test harness
  pytest.ini
  setup.sh
Owners: none

chore: pin ruff pre-commit hook and fix args; autoupdate hooks
  .pre-commit-config.yaml
Owners: none

chore(ci): cache pre-commit environments in workflows
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Owners: none

chore: update test deps for Poetry resolution (pytest -> ^8.2, pytest-asyncio -> ^1.2.0, ruff pinned)
  poetry.lock
  pyproject.toml
Owners: none

chore: add poetry lock check script for pre-commit
  scripts/poetry-lock-check.sh
Owners: none

chore: run poetry lock check via script in pre-commit
  .pre-commit-config.yaml
Owners: none

ci(doc): add poetry.lock check in CI and note in CONTRIBUTING.md
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
  CONTRIBUTING.md
Owners: none

docs: add branching and naming policy to CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

docs: update PR template with lockfile and branch checklist
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

chore(api): add Dockerfile for FastAPI service
  api/Dockerfile
Owners: @btruledgr-api

chore(deploy): point app-spec to staging branch
  .do/app-spec.yml
Owners: none

fix: use in Dockerfile and let App Platform use container CMD; point app-spec to staging
  .do/app-spec.yml
  api/Dockerfile
Owners: @btruledgr-api

fix: use shell CMD so is expanded at runtime for App Platform
  api/Dockerfile
Owners: @btruledgr-api

chore(deploy): minimal app-spec for update; static sites will be added in UI
  .do/app-spec.yml
  .do/app-spec.yml.bak
Owners: none

fix(deploy): remove unsupported scope from app-spec env
  .do/app-spec.yml
Owners: none

chore: add Procfile to define web process for App Platform
  Procfile
Owners: none

chore(api): multi-stage Dockerfile (poetry export -> pip) for smaller runtime image
  api/Dockerfile
Owners: @btruledgr-api

chore(dashboard): pin vite to ^5.4.20 to satisfy @vitejs/plugin-vue peer deps
  dashboard/package.json
Owners: @truledgr-dashboard

chore(dashboard): update package-lock to match vite@^5.4.20
  dashboard/package-lock.json
Owners: @truledgr-dashboard

chore(api): set VITE_API_URL to https://api.truledgr.app in app spec
  .do/app-spec.yml
Owners: none

fix(dashboard): use VITE_API_URL/runtime fallback and show attempted API url in error
  dashboard/src/App.vue
Owners: @truledgr-dashboard

feat(api): enable CORS with configurable ALLOWED_ORIGINS
  api/main.py
Owners: @btruledgr-api

CODEOWNERS:

/api/ @btruledgr-api
/dashboard/ @truledgr-dashboard
/apple/ @truledgr-apple
/android/ @truledgr-android
/landing/ @truledgr-landing
/docs/ @truledgr-docs
